@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
  font-weight: 700;
}

#waybar > box {
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: unset;
}

.modules-left {
  margin-left: 8px;
  background-color: #242432;
  border-radius: 0 0 8px 8px;
}

.modules-right {
  margin-right: 8px;
  background-color: #242432;
  border: none;
  padding: 0 4px;
  border-radius: 0 0 8px 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-iphone_charge {
  margin-right: 15px;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 15px;
}

#network {
  margin-right: 15px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
  background-color: black;
  border-radius: 8px;
}

#custom-update {
}

#clock {
  margin-left: 8.75px;
  background-color: #242432;
  padding: 0 4px;
  border-radius: 0 0 8px 8px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
